$desfault-darkness-blue: #0C0032;
$default-dark-blue: #190061;
$default-blue: #240090;
$default-light-blue: #3500D3;
$defult-dark-gray: #282828;
$deafult-darkness-gray: #000000;
$default-light-gray: #888888;
$default-pink: rgb(238, 130, 148);
$default-black: #000000;
$default-white: #FFFFFF;

$deafult-aqua-blue: #94E8B4;
$default-dark-gray2: #3B322C;
$deafult-light-aqua-blue: #6DA589;
$deafult-dark-aqua-blue: #4E6151;
$deafult-dark-aqua-blue2: rgb(55, 65, 56);