$desfault-darkness-blue: #0C0032;
$default-dark-blue: #190061;
$default-blue: #240090;
$default-light-blue: #3500D3;
$defult-dark-gray: #282828;
$deafult-darkness-gray: #000000;
$default-light-gray: #888888;
$default-pink: rgb(238, 130, 148);