@import '../../../shared/scss/default-colors.scss';
@import '../../../shared/scss/texts_styles';

.box {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.filtered {
    background-color: rgba(41, 41, 41, 0.336);
}

.filter-sect {
    z-index: 99;
}

.posts-sect {
    background-color: $deafult-dark-aqua-blue2;
    padding-left: 1rem;
    padding-right: 1rem;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.post-title {
    font-size: 2rem;
    color: $default-white;
}

.post-content {
    font-size: 1.5rem;
    color: $default-white;
}

.poster {
    font-size: 1rem;
    color: $default-white;
}

.category {
    font-size: 1rem;
    color: $default-white;
}

.like-btn {
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color: $deafult-light-aqua-blue;
    background-color: transparent;
    border: none;
}

.unlike-btn {
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    background-color: transparent;
    color: $default-pink;
    border: none;
}

.likes {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: $default-white;
}

.image {
    width: 100%;
    height: auto;;
}

.register-input {
    background-color: $default-dark-gray2;
    border: none;
    color: $deafult-light-aqua-blue;
}

.input-label {
    font-size: 1.2rem;
}