@import '../../../shared/scss/default-colors.scss';
@import '../../../shared/scss/texts_styles';

.box {
    padding: 2rem 3rem 2rem 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: $deafult-dark-aqua-blue;
}

.filter-sect {
    z-index: 99;
}

.posts-sect {
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.box:first-child {
    margin-top: 0;
}

.box:last-child {
    margin-bottom: 0;
}

.post-title {
    font-size: 2rem;
}

.post-content {
    font-size: 1.5rem;
}

.poster {
    font-size: 1rem;
}

.category {
    font-size: 1rem;
}

.like-btn {
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    background-color: $default-blue;
    border: none;
}

.unlike-btn {
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    background-color: black;
    color: $default-pink;
    border: none;
}

.likes {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.image {
    width: 100%;
    height: auto;;
}

.register-input {
    background-color: $default-dark-gray2;
    border: none;
    color: $deafult-light-aqua-blue;
}

.input-label {
    font-size: 1.2rem;
}